<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- product id must be changed whenever the version is changed -->
	<Product Id="9BE2B40C-EA8C-4213-9381-52C165FAC4C4" Name="InZync" Language="1033" Version="2.0.0.0" Manufacturer="b34r" UpgradeCode="fe60241b-3238-42ed-8ea1-5c491c8f3f15">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

		<Feature Id="ProductFeature" Title="InZync" Level="1" Display="expand" Description="Install the package" ConfigurableDirectory="INSTALLFOLDER">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Icon Id="InZync.exe" SourceFile="$(var.InZync.TargetPath)" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <!-- properties for uninstall app -->
    <Property Id="ARPPRODUCTICON" Value="InZync.exe" />
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="InZync" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="InZync"/>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Win64="yes">
        
        <File Source="$(var.InZync.TargetPath)" />
        <File Source="$(var.InZync.TargetDir)\InZync.exe.config" />
        <File Source="$(var.InZync.TargetDir)\FileExtensions.xml" />

        <!-- add 'Deploy with deploy.NET' to the context menu of .deploy files -->
        <ProgId Id="InZync" Description='Some description' Advertise='yes' Icon='InZync.exe'>
          <Extension Id='syncjob'>
            <Verb Id='open' Sequence='10' Argument='/script:"%1"' />
          </Extension>
        </ProgId>
        
			</Component>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="6EDC664B-BF48-4B31-8083-C1558F9680EB">
        <!-- add a start menu shortcut to start deployNET.exe -->
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Icon="InZync.exe"
                  Name="InZync"
                  Description="Run InZync"
                  Target="[INSTALLFOLDER]InZync.exe"
                  WorkingDirectory="INSTALLFOLDER"/>

        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\SimonBaer\InZync" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
